/* colors */
$primaryBlue: #c0e1ff;
$secondaryBlue: #ebf5ff;
$dark: #212529;
$white: #fff;

/* fonts */
$headingFont: "Nunito", sans-serif;
$normalFont: "Montserrat", sans-serif;

/* styles */
$radius: 25px;
